/* Settings Backgrounnd */
span#loginimage         { /* settingsbackground.png */
	background      : transparent url(login.png) no-repeat center;
	position        : absolute;
	left            : 90.00pt;
	top             : 100.00pt;
	width           : 200.75pt;
	height          : 100.00pt;
	}
	

.bigform              { /* Common */
	font            : 16pt 'MS Sans Serif';
	color           : #000000;
	}

.login_error               { /* Common */
	font            : bold 14pt 'MS Sans Serif';
	color           : #FF0000;
	padding         : 1.50pt;
	size			: 380.00pt;
}

div#loginresults	{
	position        : absolute;
	left            : 110.25pt;
	top             : 180.50pt;
	width           : 380.00pt;
	height          :  30.25pt;
}
	
input#loginbutton_big          { 
	position        : absolute;
	left            : 350.00pt;
	top             : 313.25pt;
	width           : 100.25pt;
	height          : 40.25pt;
	}

input#login_big_name            { /* Password password  */
	position        : absolute;
	left            : 287.50pt;
	top             : 232.00pt;
	width           : 151.25pt;
	height          :  21.00pt;
	}
input#login_big_password            { /* Password password  */
	position        : absolute;
	left            : 287.50pt;
	top             : 271.50pt;
	width          : 151.25pt;
	height          :  21.00pt;
	}
input#remember_big           { /* Check Box check_box oncl... */
	position        : absolute;
	left            : 124.25pt;
	top             : 384.50pt;
	width           :  22.75pt;
	height          :  30.25pt;
	}

	
/*--- EndOfFile ---*/
